.OuterDiv{
    width: 100%;
    height: 100%;
    display: flex;
}

.Main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #EAF0F6;
}

.appHeader{
    width: 90%;
    height: 10%;
    display: flex;
    margin-left: 5%;
    background-color: #00BE6E;
    color: white;
    font-size: 24px;
    font-family: lato;
}

.appBody{
    width: 100%;
    height: 90%;
    display: flex;
}

.headerText{
    line-height: 2.5;
    margin-left: 2%;
}

.importContactsBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contactsListPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: 2em;
    background: white;
    margin: 0 7em;
    display: inline-block;
    color: white;
    position: relative;
}

.nonActive ~ li::before{
    content: '';
    position: absolute;
    top: 0.7em;
    left: -15em;
    width: 15em;
    height: 0.4em;
    background: white;
    z-index: 1;
}

.active ~ li::before{
    content: '';
    position: absolute;
    top: 0.7em;
    left: -15em;
    width: 15em;
    height: 0.4em;
    background: white;
    z-index: 1;
}

.semiActive ~ li::before{
    content: '';
    position: absolute;
    top: 0.7em;
    left: -15em;
    width: 15em;
    height: 0.4em;
    background: white;
    z-index: 1;
}

.nonActive ~ li::before{
    left: -14em !important;
}

li:first-child::before {
  display: none;
}

.active {
  background: #33475B;
  border: 3px solid #33475B;
}

.active ~ li {
  background: #33475B;
}

.active ~ li::before {
  background: #33475B;
}

.nonActive{
    background: white !important;
    color: #33475B;
    border: 1px solid #80808038;
    z-index: 3;
}

.semiActive{
    background: white !important;
    border: 3px solid #33475B;
    color: #33475B;
    z-index: 5;
}

.circleDiv{
    width: 50%;
    height: 10%;
    display: -webkit-flex;
    display: flex;
    margin-left: 29%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    margin-top: 2%;
}

.popUpheaderText{
    width: 43%;
    height: 5%;
    display: -webkit-flex;
    display: flex;
    margin-left: 28%;
    -webkit-flex-direction: row;
    flex-direction: row;
    font-family: lato;
    font-size: 18px;
    color: #33475B;
    font-weight: bolder;
}

.importSpan{
    float: left;
    flex: 1;
    text-align: left;
}

.helpSpan{
    float: right;
    flex: 1;
    text-align: right;
}

.popUpDivArea{
    width: 100%;
    height: 90%;
    display: flex;
}

.popUpDiv{
    width: 43%;
    height: 95%;
    display: flex;
    background: white;
    margin-left: 28%;
    box-shadow: 0 2px 16px 1px #8080805e;
    flex-direction: column;
    border-radius: 5px;
}

.popUpHeader{
    display: flex;
    width: 100%;
    height: 12%;
    background-color: #33475B;
    color: white;
    font-family: lato;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.popUpBody{
    display: flex;
    width: 100%;
    height: 88%;
    /* background-color: #33475B; */
    color: #33475B;
    font-family: lato;
    font-size: 18px;
    flex-direction: row;
}

.popUpHeaderSpan{
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 3;
}

.googleContacts{
    width: 33%;
    height: 100%;
    display: flex;
}

.facebookContacts{
    width: 33%;
    height: 100%;
    display: flex;
}

.localContacts {
    width: 33%;
    height: 100%;
    display: flex;
}

.googleImageDiv{
    background-image: url('photos/google.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 30%;
    margin-top: 55%;
    margin-left: 15%
}

.facebookImageDiv{
    background-image: url('photos/google.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 30%;
    margin-top: 55%;
    margin-left: 15%
}

.localImageDiv{
    background-image: url('photos/google.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 30%;
    margin-top: 55%;
    margin-left: 15%
}

.svgClass{
    width: 2em;
    height: 3.5em;
    margin-left: 1.8em;
    margin-top: 1em;
}

.IconDiv{
    width: 100px;
    margin-left: 26%;
    height: 100px;
    margin-top: 65%;
    border-radius: 50%;
    box-shadow: 0 2px 16px 1px hsla(0,0%,50.2%,.37);
    cursor: pointer;
}

.spinner{
    color: #00BE6E;
    width: 45%;
    height: 40%;
    margin-left: 28%;
    margin-top: 18%;
}

.spinnerDiv{
    width: 100%;
    height: 100%;
    display: flex;
}

.form-control {
    display: block;
    width: 100%;
    height: 10%;
    /* padding: 6px 12px; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border-bottom: 1px solid #ccc;
    /* border-radius: 2px; */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
    font-size: 16px;
    padding: 15px 0px;
    background: none !important;
    border-top: none;
    border-left: none;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.form-group {
    margin-bottom: 15px;
    font-size: 1rem !important;
    /* padding: 12px 29px !important; */
    border: none;
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
}

.filter-list{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.list-group{
    flex: 6;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.familyFormDiv{
    flex: 1;
    display: flex;
}

.list-group-item{
    display: flex;
    width: 90%;
    height: 20%;
    margin: 0px;
    margin-bottom: 2%;
    border-radius: 5px;
    margin-left: 5%;
}

.detailNameDiv {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1;
    flex: 1 1;
    font-size: 20px;
    font-family: lato;
    font-weight: bolder;
    line-height: 2;
    text-align: left;
    color: black;
}

.familyNameDiv {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1;
    flex: 1 1;
    font-size: 20px;
    font-family: lato;
    font-weight: bolder;
    line-height: 2;
    text-align: left;
    color: black;
}

.familyContactArrowDiv{
    flex: 1 1;
    background: #00BE6E;
    color: white;
    line-height: 4.5;
    font-size: 20px;
    font-family: lato;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}