.contactsSideBar{
	float: right;
    width: 40%;
    height: 100%;
    background-color: #EAF0F6;
    position: fixed;
    z-index: 30;
    overflow-y: auto;
    right: 0px;
    display: flex;
    flex-direction: column;
}

.contactsSideBarOuterDiv{
	width: 100%;
    height: 100%;
    z-index: 29;
    top: 0px;
    position: absolute;
    background: #80808038;
    display: none;
}

.contactsSideHeader{
	flex: 1;
    background: #33475B;
    color: white;
    font-size: 20px;
    font-family: lato;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.contactsSideBody{
	flex: 10;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.contactsSideHeaderText{
    flex: 2 1;
    line-height: 2.5;
    display: -webkit-flex;
    display: flex;
    text-align: left;
    padding-left: 5%;
}

.contactsSideHeaderCross{
	flex: 1 1;
    line-height: 2;
    text-align: right;
    margin-right: 5%;
    font-size: 24px;
    cursor: pointer;
    display: flex;
}

.unidentifiedContactList{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.contactBodyText{
    flex: 1 1;
    text-align: center;
    line-height: 3;
    font-size: 18px;
    font-family: lato;
    display: -webkit-flex;
    display: flex;
    text-align: left;
    padding-left: 5%;
    font-weight: bold;
}

.contactOuterBody{
    flex: 10;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.detailContactOuterDiv{
    width: 90%;
    height: 20%;
    margin-left: 5%;
    background: white;
    margin-bottom: 2%;
    box-shadow: 0 2px 16px 1px #8080801f;
    border-radius: 4px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.detailContactDiv{
    flex:4;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

.detailContactArrowDiv{
    flex:1;
    background: #B2C1D1;
    cursor: pointer;
}

.detailNameDiv{
    display: flex;
    flex: 1;
    font-size: 20px;
    font-family: lato;
    font-weight: bolder;
    line-height: 2;
}

.detailOtherDiv{
    flex: 1;
    display: flex;
    flex-direction: row;
    font-family: lato;
    font-size: 14px;
    color: #777777;
    text-align: left;
    padding-top: 5%;
    line-height: 1;
}

.detailFamilyOtherDiv{
    flex: 1;
    display: flex;
    flex-direction: row;
    font-family: lato;
    font-size: 14px;
    color: #777777;
    text-align: left;
    padding-top: 5%;
    line-height: 1;
}

.detailEmailDiv{
    flex: 1;
    display: flex;
}

.detailPhoneDiv{
    flex: 1;
    display: flex;
}

.detailContactIcon{
    width: 11%;
    height: 55%;
    color: #F05C40;
    margin-right: 2%;
}

.detailArrowIcon{
    display: flex;
    width: 91%;
    height: 40%;
    padding-top: 25%;
    padding-left: 5%;
    color: #3E5265;
}

.selectcontactsSideBarOuterDiv{
    width: 100%;
    height: 100%;
    z-index: 29;
    top: 0px;
    position: absolute;
    background: #80808038;
}

.contactsSelectSideHeaderText{
    flex: 8 1;
    line-height: 2.5;
    display: flex;
    text-align: left;
}

.contactsSelectSideHeaderCross{
    flex: 1 1;
    line-height: 2.5;
    text-align: left;
    margin-left: 5%;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    padding-top: 3%;
}

.contactsSelectBodyHeader{
    flex: 2;
    display: flex;
}

.selectRelationTypeDiv{
    flex: 7;
    display: flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.contactsSelectBodyHeaderDiv{
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 5%;
    background: #F4F7FA;
    display: flex;
    flex-direction: column;    
    box-shadow: 0 1px 4px 0px #8080805e;
    border-radius: 5px;
}

.selectNameDiv{
    display: flex;
    flex: 2;
    font-size: 24px;
    color: #33475B;
    text-align: center;
    font-family: lato;
    font-weight: bold;
    line-height: 2;
}

.selectOtherDiv{
    flex: 1;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-family: lato;
    padding-left: 8%;
}

.detailAgeDiv{
    flex: 1;
    display: flex;
    text-align: left;
    line-height: 1.5;
}

.detailLocDiv{
    display: flex;
    flex: 1;
    text-align: left;
    /* margin-right: 2%; */
    line-height: 1.5;
}

.detailLocIcon{
    color : #F05C40;
    width: 10%;
    height: 75%;
    margin-right: 2%;
}

.ageTextDiv{
    width: 25%;
    height: 70%;
    margin-left: 10%;
    background: #f05c40;
    color: #fff;
    font-size: 12px;
    font-family: lato;
    border: 1px solid #f05c40;
    border-radius: 40%;
    line-height: 1.6;
    text-align: center;
    margin-right: 3%;
}

.RelationBodyDiv{
    background: white;
    width: 80%;
    height: 15%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    box-shadow: 0 2px 16px 1px #8080805e;
    border-radius: 5px;
}

.RelationGreyDiv{
    flex: 1;
    display: flex;
    background: #CACFD5;
}

.RelationBodyTextDiv{
    flex: 16;
    display: flex;
    font-size: 22px;
    text-align: center;
    font-family: lato;
    color: #414141;
    font-weight: bold;
    line-height: 2.5;
    cursor: pointer;
}

.ChooseRelationTextDiv{
    flex: 1;
    display: flex;
    font-size: 18px;
    font-family: lato;
    color: #777777;
    text-align: center;
    line-height: 5;
}

.RelationBodyOuterDiv{
    display: flex;
    flex:5;
    flex-direction:column;
}

.RelationBodySelectButton{
    height: 20%;
    width: 100%;
}

.RelationBodySelectButtonDiv{
    width: 30%;
    height: 40%;
    margin-top: 5%;
    margin-left: 35%;
    text-align: center;
    background: #33475B;
    color: white;
    line-height: 1.5;
    font-size: 18px;
    font-family: lato;
    box-shadow: 0 2px 16px 1px #8080805e;
    border-radius: 6px;
    display: none;
    cursor: pointer;
}

.RelationGreenDiv{
    background: #00BE6E !important;
}

.moveLeft{

}

.NoContacts{
    flex: 1;
    display: flex;
    text-align: center;
    font-size: 24px;
    font-family: lato;
    font-weight: bold;
}