.familyMemberDiv{
	width: 90%;
    height: 30%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 9%;
    box-shadow: 0 2px 16px 1px #8080805e;
}

.unidentifiedDiv{
	width: 90%;
    height: 30%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 5%;
    box-shadow: 0 2px 16px 1px #8080805e;
}

.popUpdetailsBody{
	display: flex;
    width: 100%;
    height: 88%;
    /* background-color: #33475B; */
    color: #33475B;
    font-family: lato;
    font-size: 18px;
    flex-direction: column;
}

.unidentifiedCountDiv{
	width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #E6AA00;
    color: white;
    font-size: 16px;
    font-family: lato;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #E6AA00;
}

.UnidentifiedTextDiv{

}

.familyMemberCountDiv{
	width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #00BE6E;
    color: white;
    font-size: 16px;
    font-family: lato;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #00BE6E;
}

.familyMemberDetailsDiv{
	width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.unidentifiedDetailsDiv{
	width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.CountNumDiv{	
	display: flex;
    flex: 2;
    text-align: center;
    font-size: 30px;
}

.TextDiv{
	display: flex;
    flex: 1;
    line-height: 2.5;
    text-align: center;
    font-size: 18px;
}

.DetailText{
    display: flex;
    -webkit-flex: 1 1;
    flex: 1 1;
    line-height: 1;
    background: #FAFAFA;
    color: #989898;
    font-weight: bolder;
    padding-left: 3%;
    font-family: lato;
    font-size: 17px;
    padding-top: 2%;
}

.UnidentifiedDetailchooseText{
	display: flex;
    flex: 1;
    background: #F7F1E0;
    padding-left: 2%;
    font-family: lato;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    padding-right: 4%;
    line-height: 3;
}

.familyDetailchooseText{
	display: flex;
    flex: 1;
    background: #E0F3EB;
    padding-left: 2%;
    font-family: lato;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
    padding-right: 4%;
    line-height: 3;
}

.moveright{
    margin-top: 5%;
    padding-left: 1%;
}

span{
	width: 100%;
    height: 100%;
}

.phoneBookOuterDiv{
    width: 10%;
    height: 60%;
    display: -webkit-flex;
    display: flex;
    margin-left: 10%;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
    cursor: pointer;
}

.contactIconClass{
	color: #00BE6E;
	display: flex;
    width: 2.2em;
    height: 3.5em;
    margin-left: 2em;
    margin-top: 1.5em;
}

.phoneBookIconDiv{
    width: 100px;
    height: 100px;
    background: white;
    box-shadow: 0 2px 16px 1px #8080805e;
    border-radius: 50%;
    display: -webkit-flex;
    display: flex;
    margin-left: 15%;
}

.phoneBookTextDiv{
	width: 100%;
    height: 10%;
    line-height: 2;
    font-size: 16px;
    font-family: lato;
    color: #777777;
    font-weight: bolder;
}