.viewDetailsDiv{
	display: flex;
    flex-direction: row;
    flex: 1;
}

.viewdetailPhoneDiv{
	color: #777777;
    display: flex;
    flex: 1;
    text-align: left;
}

.viewdetailNameDiv{
	color: black;
    flex: 2;
    display: flex;
    text-align: left;
    padding-left: 1%;
    font-size: 16px;
    font-family: lato;
    font-weight: bold;
    /* line-height: 1; */
}

.viewdetailEmailDiv{
    color: #777777;
    display: flex;
    flex: 1;
    text-align: left;
}

.view-list-group-item{
    width: 70%;
    /* flex: 1; */
    height: 40px;
    background: #F7F9FB;
    border-radius: 5px;
    margin-top: 1%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    line-height: 2.5;
    margin-bottom: 0px;
    margin-left: 12%;
    box-shadow: 0px 1px 1px #80808057;
}

.viewPhoneBookOuterDiv{
	display: flex;
    flex-direction: column;
    flex:1;
}

.viewPhoneBookHeaderDiv{
	flex: 1;
    display: flex;	
    padding-left: 10%;
    line-height: 3;
    font-size: 30px;
    font-family: lato;
    font-weight: bold;
}

.viewPhoneBookOuterDetailsDiv{
	flex: 6;
    display: flex;	
    flex-direction : column;
}

.view-form-group{
	width: 90%;
    margin-left: 10%;
    padding: 0px !important;
  }

.ListDiv{
	flex: auto;
    /* flex-grow: 2; */
    display: flex;
    flex-direction: column;
}

.unIdentifiedListDiv{
	flex: auto;
    /* flex-grow: 2; */
    display: flex;
}

.familyFormDiv{
	flex: 1;
    display: flex;
}

.ListHeaderDiv{
	margin-left: 12%;
    flex: 1;
    font-size: 22px;
    font-weight: bold;
    font-family: lato;
    color: #33475B;
}

.ListBodyDiv{
	display: flex;
    flex: 8;
    flex-direction: column;
    overflow: auto;
}

.ManageListDiv{
	display: flex;
    flex: 1;
    text-align: right;
    text-decoration: underline;
    font-size: 20px;
    font-family: lato;
    font-weight: bolder;
    padding-right: 9%;
    cursor: pointer;
    margin-top: 2%;
}

.view-form-control {
    display: block;
    width: 90%;
    height: 10%;
    /* padding: 6px 12px; */
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border-bottom: 1px solid #ccc;
    /* border-radius: 2px; */
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
    font-size: 16px;
    padding: 15px 0px;
    background: none !important;
    border-top: none;
    border-left: none;
}

.viewRelationNameDiv{
    display: flex;
    flex:0.5;
}

.viewRelationDiv{
    display: flex;
    flex:1;
}

.viewRelationTextDiv{
    width: 20%;
    height: 55%;
    margin-top: 3%;
    background: #3fbe69;
    color: #fff;
    font-size: 14px;
    font-family: lato;
    border: 1px solid #3fbe69;
    border-radius: 30px;
    text-align: center;
    line-height: 1.4;
}